        * {
            box-sizing: border-box; 
            /* 
            What is box-sizing?
            You can easily create three floating boxes side by side. However, when you add something that enlarges the width of each box (e.g. padding or borders), the box will break. The box-sizing property allows us to include the padding and border in the box's total width (and height), making sure that the padding stays inside of the box and that it does not break.
            */
        }
        .box {
            border: 2px solid hsl(0, 100%, 64%);
            padding: 50px;
            width: 31%;
            text-align: center;
            background-color: rgb(194, 193, 193);
            float: left;
            margin: 15px;
        }
        .clearfix::after {
            clear: both;
            display: table;
            content: "";
        }
        .img-box {
            width: 24%;
            float: left;
            margin: 5px;
        }
        .eq-box {
            width: 50%;
            border: 2px solid red;
            line-height: 90px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 24px;
            padding: 24px;
            float: left;
            height: 300px;
            text-align: center;
            background-color: hsl(0, 1%, 77%);
        }
        .flexbox {
            width: 50%;
            border: 2px solid red;
            line-height: 90px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 24px;
            padding: 24px;
            float: left;
            text-align: center;
            background-color: hsl(0, 1%, 77%);

        }
        .clearfix-1 {
            clear: left;
            margin-top: 100px;
            display: flex;
            flex-wrap: nowrap;
        }
        .ul {
            list-style-type: none;
            margin: 10px;
            padding: 0;
        }
        .li {
            
            background-color: #fc3838;
            float: left;
        }
        .a {
            text-decoration: none;
            color:white;
            padding: 24px;
            display: inline-block;
        }
        .a:hover {
            background-color: red;
        }
        .container::after {
            clear: both;
            display: table;
            content: "";
        }
        .header {
            background-color: rgb(146, 161, 248);
            text-align: center;
            letter-spacing: 2px;
            padding: 14px;
        }
        .column {
            float: left;
            letter-spacing: 2px;
        }
        .menu {
            width: 25%;
        }
        .content {
            width: 75%;
            padding: 24px;
            font-size: 24px;
        }
        div.column>ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        div.menu>ul>li {
            background-color: rgb(146, 161, 248);
            padding: 14px;
            margin: 12px;
        }
        div.menu li:hover {
            background-color: blue;
            cursor: pointer;
        }
        span {
            font-size: 400%;
            line-height: 90%;
            float: left;
        }